{% extends 'blog/base.html' %}
{% load static %}


{% block extra_head %}
    <link href="{% static 'blog/css/card.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div id="mid-section-content">
        <div class="margin-div">
            <h3>Password change</h3>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="POST">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
                <input type="submit" value="Submit">   
            </form>
        </div>
    </div>

{% endblock %}