{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'blog/css/detail.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}


    <!-- This div section have margin and paddings for cards -->
    <div class="margin-div-detail-card">
                   
        <!-- Cards Here -->
        <div class="detail-card">
            <img id="detail-card-img"  src="{{ p_detail.image.url }}" alt="Introduction To A Machine Learning Online Course" />
            <div class="detail-card-all-text">
                <h1>{{ p_detail.title }}</h1>
                <p class="detail-card-author">{{ p_detail.author }} | 
                    <span class="detail-card-date">23 Aug 2019</span>
                </p>
                <p class="detail-card-para"> {{ p_detail.content }} </p>
            </div>
        </div>
    </div>



{% endblock %}