{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Hyperlink of css -->
    <link href="{% static 'blog/css/base.css' %}" rel="stylesheet" type="text/css">

    <!-- Hyperlink of fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


    <!-- Hyperlink of fonts -->
    <script src="https://kit.fontawesome.com/35c398e458.js" crossorigin="anonymous"></script>


    {% block extra_head %}
    {% endblock %}

</head>
<body>

    <!-- Top bar -->

    <div id="header">
        <div id="header-left">
            <div>
                <a href="/blogs" class=""><h1>EDYODA</h1></a>
                <p id="stories">Stories</p>
            </div>
            <div id="top-bar-categorie">
                <ul>
                    <li>Explore Categories<i class="fas fa-chevron-down" style="margin-left:5px;"></i>
                        <div class="sub-menu">
                            <ul>
                                {% for cat in category %}
                                    <li><a href="{{ cat.name }}">{{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>  
                    </li>
                </ul>    
            </div>  
        </div>

        <div id="header-right">
            {% block search %}
            {% endblock %} 
            
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile-detail' user.id %}">{{ user.get_username }}</a>
                    <a href="{% url 'logout' %}" id="login">Logout</a>

                {% else %}
                    <a href="{% url 'signup' %}" id="signup"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i>Signup</i></a> 
                    <a href="{% url 'login' %}" id="login"><i class="fas fa-user-circle" style="margin-right: 5px;"></i>Login</a>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Mid Section -->
    <div id="mid-section">
            {% block content %}
            {% endblock %} 
    </div>


    <!-- Footer Section -->
    <div id="footer-div">
        <h1></h1>    
    </div>  

</body>
</html>