{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'blog/css/detail.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}

    <!-- This div section have margin and paddings for cards -->
    <div class="margin-div-detail-card">

        <!-- Cards Here -->
        <div class="detail-card">
            <img id="detail-card-img"  src="{{ post.image.url }}" alt="Introduction To A Machine Learning Online Course" />
            <div class="detail-card-all-text">
                <h1>{{ post.title }}</h1>
                <p class="detail-card-author">{{ post.author.get_username }} | 
                    <span class="detail-card-date">{{ post.date | date:"d F Y" }}</span>
                </p>
                <p class="detail-card-para"> {{ post.content }}</p>

                <p class="detail-card-para"> {{ post.author.user.image }} </p>
                <p class="detail-card-para"> {{ post.author.user.bio }} </p>
            </div>
        </div> 
    </div>

{% endblock %}